@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

/* Container for password input and icon */

@font-face {
  font-family: "Toppler W05 Regular";
  src: url("https://db.onlinewebfonts.com/t/d4efe50000ab6b41b3e546b035abd2e0.eot");
  src: url("https://db.onlinewebfonts.com/t/d4efe50000ab6b41b3e546b035abd2e0.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/d4efe50000ab6b41b3e546b035abd2e0.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/d4efe50000ab6b41b3e546b035abd2e0.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/d4efe50000ab6b41b3e546b035abd2e0.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/d4efe50000ab6b41b3e546b035abd2e0.svg#Toppler W05 Regular")format("svg");
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./assets/fonts/Bricolage\ Grotesque.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.go-back{
  border-radius: 5px;
  /* font-size: 30px; */
  height: fit-content;
  border: none;
}




.ERROR {
  /* position: relative; */
  font-weight: 800;
  /* border: 2px double var(--basic-txt-blue); */
  font-size: small;
  border-radius: 12px;
  width: fit-content;
  height: fit-content;
  /* padding: .5rem; */
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers text horizontally */
  align-items: center; /* Centers text vertically */
  margin-inline: auto; /* Centers the box itself horizontally */
  padding-bottom: .5rem;
}

.Error > *{
  /* font-family: 'Toppler W05 Regular'; */
}

.Error img{
  margin-inline: auto;
}

.wrote-italic{
  /* text-decoration: underline; */
  /* color: black; */
  font-weight: 500;
  /* font-style:oblique; */
}

.message-item{
  padding: 10rem;
}
.First{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 10vh; */
}


#text{
  padding: 1rem;
}

#text::placeholder{
  color: var(--basic-txt-blue);
  opacity: 0.8;
}
.box-for-hid-msg button:hover{
  background-color: var(--basic-background-blue);
  /* background-color: #f5f5dc; */
  /* color: #00563B; */
  color: var(--basic-txt-blue);
  border: 2px solid black;
}

.box-for-hid-msg > h2{
  color: var(--basic-txt-blue);
  background-color: var(--basic-background-blue);
  /* background-color: #00563B; */
}
.box-for-hid-msg{
  margin-inline: auto;
  border: 2px solid var(--basic-txt-blue);
  /* border: 2px solid #00563B; */
  border-radius: 20px;
  width: 40vw;
  overflow-wrap:anywhere;
  height: fit-content;
  background-color: var(--basic-txt-blue);
  /* background-color: #00563B; */
}

.Chat{
  display: flex;
  flex-direction: column;
  gap: 0;
  user-select: none;
}

.Enter{
  height: fit-content;
}




@media all and (min-width:540px) {
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  /* background: red; */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-left: 2px solid black;
  border-top: 2px solid black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 1px solid black;
    border-radius: 120px;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
  background: var(--basic-txt-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--basic-txt-blue);  
  /* background: red; */
}

}




@media all and (min-width:840px) {

  .Pop-up{
    position: fixed;
    top: 8px;
    left: 10px;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* right: 50vw; */
    z-index: 10000000000000;
    width: fit-content;
    min-width: 300px;
    height: fit-content;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    border: 1px solid var(--basic-txt-blue);
    border-radius: 20px;
    
  }

  .Pop-up button {
    height: fit-content;
    font-size: 18px;
  }

  .img-error{
    display: block;
    height: 200px;
    margin-left: 4rem;
  }
  .theme-options{
    display: flex;
    gap:10px;
  }
  
  .theme-option{
    position: fixed;
    top: 10px;
    left: 10px;
    height: 35px;
    width:fit-content;
    /* border: 2px solid; */
    padding-inline: 5px;
    border-radius: 10px;
    cursor: pointer;
  }

  .message-item{
    display: flex;
    flex-direction: column;

    font-size: 20px;
    border-bottom: 1px solid var(--basic-txt-blue);
    /* border-bottom: 1px solid #00563B; */
    border-radius: 10px;
    /* margin-bottom: 1rem; */
  }
  
  .message-item div{
    font-size: 20px;
  }
  .message-item h2{
    font-size: 30px;
  }
  
  .message-list{
    margin-inline: auto;
    border: 3px solid var(--basic-txt-blue);
    /* border: 3px solid #00563B; */
    
    border-radius: 14px;
    width: 40vw;
    min-width: 100px;
    
    outline: none;
    outline-offset: none;
  }
  .password-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .SPACE{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
  }
  
  /* Password input field */
  .password-input {
    /* padding-right: 10px; Adjust padding to prevent text from overlapping with the icon */
  }
  
  /* Icon inside the input */
  .password-icon {
    position: absolute;
    right: 10px; /* Position the icon to the right inside the input */
    cursor: pointer;
    top: 4.8px;
  }

  .choose{
    display: flex;
    flex-direction: row;
    /* gap: 3rem; */
    font-size: 16px;
    justify-content: space-around;
  }
  
  .choose > *:hover{
    background-color: var(--basic-txt-blue);
    color: #001f3f;
  }
  .choose > *{
    border: 2px solid var(--basic-txt-blue);
    border-radius: 8px ;
    padding: 10px;
  }
  
  

  .Login{
    display: flex;
    border: 2px solid var(--basic-txt-blue);
    /* border: 2px solid #00563B; */
    border-radius: 10px;
    /* width: 60vw; */
    width: fit-content;
    gap: 10rem;
    max-width: 90vw;
    height: fit-content;
    margin-inline: auto;
    padding: 3rem;
    /* margin-top: 2rem; */
    padding-bottom: 2rem;
  }

  .namee{
    font-size: 50px;
  }
  form textArea{
    height: 250px;
    width: 550px;
    resize: none;
    /* border: 3px solid #00563B; */
    border-radius: 10px;
  }

  .gobackk{
    font-size: 20px;
    margin-top: 1rem;
    margin-inline: auto;
    height: fit-content;
  }

  
  /* .message-item{
    border-bottom: 1px solid #a4c2f4;
    border-radius: 10px;
    font-size: 14px;
    overflow-wrap:anywhere;
    padding: 5px;
  }
  .message-list{
    margin-inline: auto;
    border: 3px solid #a4c2f4;
    border-radius: 14px;
    width: 30vw;
    outline: none;
    outline-offset: none;
    margin-bottom: 4rem;
  }
  .Preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;  
    height: 100vh; 
    overflow-y: auto;  
  } */
  .gobackk{
    position: fixed;
    bottom: 15px;
    left: 10px;
    font-size: 25px;
  }

  .sub-but{
    height: fit-content;
    font-size: 35px;
  }
  #prev{
    margin-inline: auto;
  }
  #goback{
    font-size: 20px;
    height: fit-content;
  }
  .logout-button{
    position: fixed;
    top: 15px;
    right: 22px;
    font-size: 20px;
    height: fit-content;
  }
  .box-for-hid-msg button{
    font-size: 20px;
    height: fit-content;
  }
  .box-for-hid-msg{
    margin-inline: auto;
    border: 2px solid var(--basic-txt-blue);
    /* border: 2px solid #00563B; */
    border-radius: 20px;
    width: 40vw;
    overflow-wrap:anywhere;
    height: fit-content;
    background-color: var(--basic-txt-blue);
    /* background-color: #00563B; */
  }
  form ::placeholder{
    font-size: 20px;
  }

  #submitt {
    font-size: 20px;
    height: 50px;
  }
label {
  font-size: 30px;
}
button{
  outline-style: none;
  border: 1px solid var(--basic-txt-blue);
  /* border: 1px solid #00563B; */
  border-radius: 10px;
  height: 90px;
  width: fit-content;
  font-size: 50px;
}

form{
  margin-top: 0;
}

.sub  {
  font-size: 25px;
  height: fit-content;
}



#text {
  font-size: 25px;
}


.username{
  height: 30px;
  font-size: 20px;
  width: fit-content;
}
h1{
  font-size: 80px;
}
}
.greet{
  width: 60vw;
}
form button {
  width: auto;
}




button:hover,button:focus{
  color: var(--basic-background-blue);
  /* color: #f5f5dc; */
  background-color: var(--basic-txt-blue);
  transition: all .5s ease;
  /* opacity: 0; */
  /* background-color: #00563B; */
  
}

.sub:focus{
  color: var(--basic-background-blue);
  /* color: #f5f5dc; */
  opacity: 1;
  background-color: var(--basic-txt-blue);
  transition: all .5s ease;}

  .sub:hover{
    color: var(--basic-background-blue);
    /* color: #f5f5dc; */
    /* opacity: 0; */
    background-color: var(--basic-txt-blue);
    transition: all .5s ease;}
    

button:disabled,button:disabled:hover{
  color: var(--basic-txt-blue);
  background-color:var(--basic-background-blue);
  /* border: 2px dashed; */
  /* color: #a4c2f4; */
  background-color: none;
  opacity: 0.4;
  /* opacity: 0; */
  transition: all .5s ease;
}

input:focus{
  border-color: var(--basic-txt-blue);
  /* border-color: #00563B; */
  outline: none;
}
form textArea:focus{
  border-radius: 12px;
  border-color: var(--basic-txt-blue);
  /* border-color: #00563B; */
  outline: none;
}

input{
  /* border-color: #00563B; */
  border-color: var(--basic-txt-blue);
  text-align: center;
  border-radius: 10px;
  outline: none;
  
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.MuiPaper-root.MuiSnackbarContent-root {
  --Paper-overlay: none !important;
  background-color: #0000 !important;
  color: #a4c2f4 !important;
}
:root{
  --basic-background-blue: #001f3f;
  /* --basic-background-blue: #190c25; */
  --basic-txt-blue: #a4c2f4;
  /* --basic-txt-disabled: 
  --basic-background-disabled:  */

  /* --basic-txt-blue: #D3D3D3; */

}



[data-theme="purple"]{
  --basic-background-blue: #190c25;
  --basic-txt-blue: #D3D3D3;
}
*{
  /* background-color:#f5f5dc;
  color: #00563B; */
  user-select: none;
  background-color: var(--basic-background-blue);
  /* background-color: #300d4f;  */
  /* background-color: #190c25;  */
  /* background-color: #001f3f;  */
  /* color: #a4c2f4; */
  /* color: #FFFFFF;   */
  color: var(--basic-txt-blue);
  font-family:"Advent Pro", sans-serif;
  text-align: center;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


::selection{
  background-color: var(--basic-txt-blue);
  color: var(--basic-background-blue);
  border: 2px solid black;
  border-radius: 5rem;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (max-width:840px) {
  .img-error{
    display: block;
    height: 140px;
    /* margin-left: 2rem; */
  }

  .SPACE{
    margin: 1rem;
    margin-bottom: 1rem;
  }

  .theme-option{
    position: fixed;
    top: 5px;
    left: 5px;
    height: 35px;
    width:fit-content;
    /* border: 2px solid; */
    padding-inline: 5px;
    border-radius: 10px;
    cursor: pointer;
  }

  .password-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  /* Password input field */
  .password-input {
    /* padding-right: 10px; Adjust padding to prevent text from overlapping with the icon */
  }
  
  /* Icon inside the input */
  .password-icon {
    position: absolute;
    right: 7px; /* Position the icon to the right inside the input */
    cursor: pointer;
    top: 2px;
  }
  
  .choose{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    font-size: 14px;
    /* gap: 1rem; */
    justify-content: space-around;
  }
  
  .choose > *:hover{
    background-color: var(--basic-txt-blue);
    color: var(--basic-background-blue);
  }
  .choose > *{
    border: 2px solid var(--basic-txt-blue);
    border-radius: 7px ;
    padding: 7px;
    width: max-content;
    font-size: 19px;
  }
  
  

button{
  outline-style: none;
  border: 1px solid var(--basic-txt-blue);
  /* border: 1px solid #00563B; */
  border-radius: 10px;
  height: 30px;
  width: fit-content;
  font-size: 20px;
}
.username{
  height: 25px;
  width: 130px;
  font-size: 16px;
}

form textArea{
  height: 150px;
  width: 70vw;
  resize: none;
  /* border: 3px solid #00563B; */
  border: 3px solid var(--basic-txt-blue);
  border-radius: 10px;
}

.logout-button{
  position: fixed;
  top: 5px;
  right: 5px;
  font-size: 20px;
  height: fit-content;
}

.message-item{
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid var(--basic-txt-blue);
  /* border-bottom: 1px solid #00563B; */
  border-radius: 10px;
  /* margin-bottom: 1rem; */
}


.message-list{
  margin-inline: auto;
  border: 3px solid var(--basic-txt-blue);
  /* border: 3px solid #00563B; */
  border-radius: 14px;
  
  min-width: 150px;
  width: 50vw;
  outline: none;
  outline-offset: none;
}
.Preview{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}

.gobackk{
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.Login{
  border: 2px solid var(--basic-txt-blue);
  /* border: 2px solid #00563B; */
  border-radius: 10px;
  width: 80vw;
  max-width: 300px;
  min-width: 200px;
  height: fit-content;
  margin-inline: auto;
  /* margin-top: 2rem; */
  padding-bottom: 1rem;
  padding: .6rem;
}
}

@media all and (min-width:540px) {
.logout-button{
  right: 15px;
}
}
@media all and (max-width:420px) {

  .choose{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    font-size: 15px;
    /* gap: 1rem; */
    justify-content: space-around;
  }
  
  .choose > *:hover{
    background-color: var(--basic-txt-blue);
    color: var(--basic-background-blue);
  }
  .choose > *{
    border: 2px solid var(--basic-txt-blue);
    border-radius: 7px ;
    padding: 7px;
    width: max-content;
    /* font-size: 14px; */
  }
}

.name-msg{
  font-weight:200; 
}

@media all and (max-width:365px) {
  .gobackk{
  word-spacing: 9999px;
  width: 60px;
  height: fit-content;
  padding: .1rem;
  text-align: center;
  }
}


@media all and (max-width:310px) {
  .theme-option{
    display: none;
  }
  .logout-button{
    z-index: 2;
    font-size: 15px;
  }
  .nav-msg{
    height: 30px;
    width: 100%;
    background-color: var(--basic-background-blue);
    position: fixed;
    top: 0;
    z-index: 1;
  }
  .gobackk{
    word-spacing: 0;
    width: fit-content;
    top: 5px;
    left: 5px;
    z-index: 2;
    font-size: 15px;
  }
}

@media all and (max-width:210px) {
  .gobackk{
    word-spacing: 0;
    width: fit-content;
    top: 5px;
    left: 5px;
  }

  .choose{
    font-size: 12px;
  }

  backg{
    background-color: var(--basic-background-blue);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10px;
  }
}

@media all and (max-width:160px) {
  .gobackk{
    visibility: hidden;
  }

  .logout-button{
    visibility: hidden;
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

.close-button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.close-button:hover {
  background: #0056b3;
}

@media all and (width:840px) {
  .Login{
    overflow:auto;
    width: 1100px;
    height: 500px;
  }
  }