html{
  /* --basic-background-blue: #001f3f; */
  --basic-background-blue: #190c25;
  /* --basic-txt-blue: #a4c2f4; */
  --basic-txt-blue: #FFFFFF;


}

.msg-time{
  
}


html {

    /* height: 100%; Full height */
    margin: 0; /* Remove default margin */
    overflow: auto; /* Enable scrolling on the body */
  }
  
  Preview {
    min-height: 300vh; /* Forces the page to be taller */
  }
  .Preview {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    height: 100%; /* Full height */
  }
  
  .header {
    /* margin-top: 1rem; */
    margin-top: .5rem;
    height: 60px; /* Height of the header */
    background-color: var(--basic-background-blue); /* Background color for header */
    color: var(--basic-txt-blue); /* Text color */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .message-item{
    border-bottom: 1px solid var(--basic-txt-blue);
    border-radius: 10px;
    font-size: 14px;
    overflow-wrap:anywhere;
    padding: 5px;
  }

  @media all and (min-width:840px) {
  .message-list{
    margin-top: 3rem;
    margin-inline: auto;
    border: 3px solid var(--basic-txt-blue);
    border-radius: 14px;
    max-width: 50vw;
    min-width: 30vw;
    width: fit-content;
    outline: none;
    outline-offset: none;
     margin-bottom: 2rem;
  }}
  
  @media all and (max-width:840px) {
    .message-list{
      /* visibility: hidden; */
      margin-top: 3rem;
      margin-inline: auto;
      border: 3px solid var(--basic-txt-blue);
      border-radius: 14px;
      max-width: 70vw;
      min-width: 100px;
      width: calc(100% + 5rem);
      outline: none;
      outline-offset: none;
      padding-inline: .1rem;
      /* margin-bottom: 5rem; */
    }}